*{
    font-family: "Roboto", sans-serif;
}
.nb{
    background-color: rgb(79, 126, 214);
    background-color: none ip !important;

    .menu1{
        width: 55%;
        font-size: 30px;
        color: white;

    }

    .nav-link{
        color: white;
    }
}