*{
    font-family: "Roboto", sans-serif;
}
.menu1{
    width: 55%;
    font-size: 30px;
    color: white;
}
.nb{
    background-color: rgb(79, 126, 214);
}
.nav-link{
    color: white;
}
.bg-body-tertiary{
    background-color: rgb(79, 126, 214) ;
}