.content4-item{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    align-items: center;
    padding: 50px;

    .avata4{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .name4{
        font-size: 20px;
        margin-top: 20px;
    }

    .decribe4{
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}