.contain{
    background-image: url('../../assets/image/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.content{
    width: 50%;
    float: left;
    height: 700px;
    position: absolute;
}
.ct1{
    font-size: 50px;
    position: relative;
    margin-top: 200px;
    margin-left: 20%;
    color: white;
}
.ct2{
    font-size: 30px;
    position: relative;
    margin-left: 20%;
    color: white;
}
.bt{
    position: relative;
    margin-left: 20%;
    color: white;
}
.image{
    width: 50%;
    float: right;
    position: relative;
    margin-left: 0%;
}
.im1{
    width: 250px;
    height: 500px;
    position: relative;
    top: 100px;
    right: -20%;
    overflow: hidden;
}
.im2{
    width: 250px;
    height: 500px;
    position: relative;
    top: 150px;
    right: -1%;
}
.contain2{
    width: 100%;
    height: 300px;
    position: absolute;
}
.ct3{
    font-size: 50px;
    color: navy;
    position: relative;
    margin-top: 100px;
    margin-left: 20%;
}