.head{
    height: 70px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        font-size: 20px;
    }
    
    .btn-login{
        height: 50px;
        width: 80px;
        border-radius: 8px;
        border: none;
        background-color: rgb(48, 116, 254);
        color: whitesmoke;
        font-size: 15px;

        &:hover{
            background-color: blue;
        }
    }

    .head-token{
        .cha{
            position: relative;
            .info{
                display: flex;
            justify-content: center;
            align-items: center;
            .avatar-icon{
                width: 30px;
                height: 30px;
            }

            }

            .con{
                display: none;
            }

            &:hover{
                .con{
                    position: absolute;
                    display: block;
                    width: 100px;
                    height: 100px;
                    padding: 10px;
                    background-color: whitesmoke;
                    top: 30px;
                    left: 0;

                    .con-p{
                        width: 100%;
                        &:hover{
                            background-color: blue;
                        }
                    }
                }
            }
            
        }

        
    }
}